@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&family=Rubik&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/*introdução*/


/*fim introdução*/

/*Primeira pagina*/

.header{
    text-align: left;
    padding: 2px;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;

    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.santos{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.santos img{
    width: 40px;
}

.santos > div{
    padding: 10px;
    border-radius: 15px;
    border: solid 1px black;
    margin-bottom: 10px;
}
.santos a{
    text-decoration: none;
    color: black;
    
}
.select05{
    background: #560bbf62;
}

/*Conteudo do meio*/

.fer47{
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

/*Fim do conteudo do meio*/

.menubaixo{
    background: #FBFAFF;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.256);
}

.menubaixo img{
    width: 30px;

    transition: all 0.5s;
    cursor: pointer;
}
.menubaixo img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/*Rolamento do ajuda-me*/
.vita1{
    max-width: 550px;
    margin: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
}

.gust12{
    background-image: url(../arquivos/imagens/escrever.jpg);
    background-position: center;
    background-size: contain;
    
    color: white;

    width: 100%;
    aspect-ratio: 16 /9;
    border-radius: 15px;
    text-align: center;
}

.historia1{
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.historia1 p{
    text-align: left;
}

.historia1 a{
    background: #402461;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

.flex{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.flex > div{
    transition: 1s;
    flex: 1 0 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
}
.flex > div:hover{
    transition: 1s;
    background: #DBD9DB;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.242);
}

.flex > div a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
}


@media(max-width: 600px){

    
}